@media (min-width: 375px) {

  html, body {
    height: 100%;
    width: 100%;
  }

  body {
    font: 18px 'Kumb Sans', sans-serif;
    background: #19a2ae;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background: #19A1AD; */
    background: url("/images/bg-pattern-top.svg") no-repeat -20em -12em, url("/images/bg-pattern-bottom.svg") no-repeat 10em 24em;
    background-size: 32em;
  }
  
  .card {
    /* visibility: hidden; */
    height: 24em;
    width: 18em;
    background: #fff;
    border: 0 solid #fff;
    border-radius: 10%;
    margin: 0 auto;
  }
  
  .card-inner {
    background-image: url("/images/bg-pattern-card.svg");
    border-radius: 10% 10% 0 0;
    text-align: center;
    height: 12em;
    width: 18em;
  }
  
  .card-inner img {
    position: relative;
    top: 60px;
    border-radius: 50%;
    border: 6px solid #fff;
  }
  
  .card-info {
    padding-top: 60px;
  }
  
  .info {
    text-align: center;
  }
  
  .info h1 {
    font-weight: bold;
  }
  
  .info h1 span {
    font-weight: normal;
    color:hsl(0, 0%, 59%);
  }
  
  .info p {
    color:hsl(0, 0%, 59%);
    font-size: 14px;
    padding-top: 10px;
  }
  
  .container-footer {
    /* text-align: center; */
  }
  
}

